/*variable*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.background-1{
    background-color: #182747;
}

.background-2{
    background-color: #182747;
}

section{
    padding: 2vh 4vw 2vh 4vw; 
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif ;
    color: #D8D8D8;
    
}

h2{
    font-size: 27px;
    font-weight: 700;
}

p{
    font-size: 18px;
}

.caret{
    width: .25rem;
    height: 1.5rem;
    background-color: green;
    display: inline-block;
    margin: 0 .4rem -2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 1024px){
    .background-2{
        padding: 5rem 4vw 3rem 7vw; 
    }

    .caret{
        width: .5rem;
        height: 2.5rem;
    } 
}