/*variable*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.background-1{
    background-color: #F5F5F5;
}

.background-2{
    background-color: #EAF2FD;
}

section{
    padding: 2vh 4vw 2vh 4vw; 
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif ;
    color: #464646
    
}

h2{
    font-size: 27px;
    font-weight: 700;
}

p{
    font-size: 18px;
}

.caret{
    width: .25rem;
    height: 1.5rem;
    background-color: #464646;
    display: inline-block;
    margin: 0 .4rem -2px;
    animation: blink 1s infinite;
}

.wave{
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.top-wave-1{
    background-image: url("/assets/images/wave-1.svg");
}

.top-wave-2{
    background-image: url("/assets/images/wave-5.svg")
}

.top-wave-3{
    background-image: url("/assets/images/wave-4.svg")
}

.bottom-wave-1{
    background-image: url("/assets/images/wave-2.svg");
}

.bottom-wave-2{
    background-image: url("/assets/images/wave-3.svg");
}


@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 1024px){
    .background-2{
        padding: 5rem 4vw 3rem 7vw; 
    }

    .caret{
        width: .5rem;
        height: 2.5rem;
    } 
}