.input-section{
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px;
    background-color: #fff;
    border-radius: 3px;
    width: 87.5vw;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input{
    margin: 0;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 3px;
    resize: none;   
    padding: .5rem 1rem 1rem;
    order: 1;
    caret-color: #2A7AE4;
}

.input:hover, .input:focus {
    outline: none;
    border-bottom: 3px solid #2A7AE4;
}

.input::placeholder{
    color: #fff;
}

.contact-h2, .contact-p{
    margin: 3px  ;
    width: 275px;
    
}

.label{
    font-size: 1.2rem;
    position: relative;
    top: 2rem;
    left: 1rem;
    transition: all .3s;
    width: 0;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label{
    transform: translateX(-0.5rem) translateY(-2rem);
    font-size: 13px;
    padding: 8px 10px;
    transition: all .3s;
}

.form-btn{
    border: 2px solid #2A7AE4;
    max-width: 150px;
    width: 125px;
    padding: 10px;
    font-size: 14px;
    background-color: #2A7AE4;
    color: #f5f5f5;
}

.message{
    padding-top: 1rem;
}

.contact{
    display: flex;
    justify-content: space-between;
}

.errorMessage__hide{
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
    font-size: .9rem;
    color: rgb(255, 10, 10);
    
}

@media screen and (min-width: 1024px){
    .form-img-container{
        background-image: url("../assets/images/form-img.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 36vw;
        height: 50vw;
    }

    .input-section{
        width: 50vw;
    }
}