.formation-h2 {
    text-align: center;
}

.formation-div__flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.flex-box__large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .52rem;
    
}

.formation-div__img-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 30vw;
    max-width: 305px;
}

.alura-logo{
    background-image: url("../assets/images/alura-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 48px;
}

.formation-h3__name{
    margin: 10px 0;
}

.formation-p__date{
    margin-top: 0;
}

@media screen and (min-width:768px){
    .formation-div__img-container{
        width: 28vw;
        height: 15vw;
        max-width: none;
    }

    .formation-div__flex-container{
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    
    .alura-logo{
        background-image: url("../assets/images/alura-logo-big.png");
        width: 190px;
        height: 130px;
    }
    
}