.formation-h2 {
    text-align: center;
}

.formation-div__flex-container {
    display: flex;
    justify-content: center;
}

.flex-box__large {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formation-div__img-container {
    background-color: #fff;
    min-width: 275px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.alura-logo{
    background-image: url("../assets/alura-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 50px;
}

.formation-h3__name{
    margin: 10px 0;
}

.formation-p__date{
    margin-top: 0;
}