.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 4vw 1vh 10vw; 
    
}

.header{
    position: sticky;
    top: 0;
}

.link {
    text-decoration: none;
    color: initial;
}


.header-h1 {
    display: inline;
    font-size: 16px;
    vertical-align: super;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.hide{
    display: none;
}

@media screen and (min-width: 1024px) {
    .hide{
        display: flex;

    }

    .header-nav{
        width: 48vw;
    }

}