.presentation-section-div__img {
    background-image: url("../assets/images/perfil-imagen.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 30vw;
    min-width: 325px;
}

.social-links {
    text-decoration: none;
    color: #464646;
}

.social-links::after {
    content: url("../assets/images/arrow-icon.svg");
    position: relative;
    top: 3.5px;
}

.presentation-section{
    padding-top: 3rem;
}

@media screen and (min-width:768px){
    .presentation-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .presentation-section-div__img{
        order: 2;
        width: 11.5rem;
        height: 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .presentation-section-div__info{
        width: 60vw;
        
    }
    
    .presentation-section-div__img{
        width: 20.8rem;
        height: 20.8rem;
    }

    .saludo{
        font-size: 55px;
    }

    .about_me-div{
        max-width: 60vw;
    }
}