.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box {
    background-color: #fff;
    min-width: 140px;
    min-height: 110px;
    margin: .52rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 5px;
}

.skills-h2,
.hobbies-h2 {
    text-align: center;
}

.skills-icon {
    min-width: 50px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.html {
    background-image: url("../assets/images/html-icon.png");
}

.css {
    background-image: url("../assets/images/css-file 1.svg");
}

.javascript {
    background-image: url("../assets/images/js-icon.png");
}

.musica {
    background-image: url("../assets/images/music-icon.svg");
}

.leer {
    background-image: url("../assets/images/read-icon.svg");
}

.series {
    background-image: url("../assets/images/tv-icon.svg");
}

.videojuegos {
    background-image: url("../assets/images/game-icon.svg");
}

.flex-box__name {
    font-size: 1rem;
    margin: .2rem .5rem;
}

